/* red-hat-display-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/red-hat-display-v20-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  
/* red-hat-display-900 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/red-hat-display-v20-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --white:      #FAFAFA;
    --cyan-300:   #8FE3F9;
    --cyan-600:   #4D96A9;
    --slate-300:  #D1D1DF;
    --slate-600:  #87879D;
    --slate-900:  #28283D;
    --purple-300: #D9B8FF;
    --purple-600: #855FB1;
}

h1,
h2 {
    line-height: 110%;
    color: var(--slate-900);
}

p,
a,
span,
button {
    line-height: 150%;
}

a,
h1,
h2,
span, 
button {
    font-weight: 900;
}

body {
    font-family: "Red Hat Display", serif;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

small {
    font-size: 0.75rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    color: var(--cyan-600);
}

p {
    font-weight: 500;
    color: var(--slate-600);
}

footer {
    background-color: var(--cyan-600);
    color: var(--white);
}

footer h2,
footer p {
    color: inherit;
}

.btn {
    border: none;
    outline: none;
    border-radius: 29px;
    color: var(--white);
    height: 56px;
    padding: 0;
    cursor: pointer;
}
    .btn__version--cyan {
        color: var(--cyan-300);
    }
    .btn__version--purple {
        color: var(--purple-300);
    }
    
.btn--cyan {
    background-color: var(--cyan-600);
}
.btn--purple {
    background-color: var(--purple-600);
}
.btn--download {
    width: 12.063rem;
}
.btn--link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10.063rem;
    text-decoration: none;
}

.number {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 3.5rem; /*Might change later when styling the layout */
}
    .number__line {
        width: 0.063rem;
        height: 5rem;
        background-color:var(--slate-300);
    }
    .number__text {
        display: flex;
        justify-content: center;
        align-items: center;
        width:  3.5rem;
        height: 3.5rem;
        border: 0.063rem solid var(--slate-300);
        border-radius: 50%;
        color: var(--slate-600);
    }

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.25rem;
    }

    small {
        font-size: 0.875rem;
    }
}

@media only screen and (min-width: 1120px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    small {
        font-size: 1rem;
    }

    p {
        font-size: 1.125rem;
    }
}
