/* red-hat-display-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/red-hat-display-v20-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  
/* red-hat-display-900 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/red-hat-display-v20-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

h1,
h2 {
    line-height: 110%;
}

p,
a,
button {
    line-height: 150%;
}

a,
h1,
h2, 
button {
    font-weight: 900;
}

body {
    font-family: "Red Hat Display", serif;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

small {
    font-size: 0.75rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
}

p {
    font-weight: 500;
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.25rem;
    }

    small {
        font-size: 0.875rem;
    }
}

@media only screen and (min-width: 1120px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    small {
        font-size: 1rem;
    }

    p {
        font-size: 1.125rem;
    }
}